<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-Dependencies-and-Load-in-Dataset" data-toc-modified-id="Import-Dependencies-and-Load-in-Dataset-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import Dependencies and Load in Dataset</a></span></li><li><span><a href="#Pandas-Exploratory-Data-Analysis" data-toc-modified-id="Pandas-Exploratory-Data-Analysis-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Pandas Exploratory Data Analysis</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Show-the-First/Last-Rows-of-Dataset" data-toc-modified-id="Show-the-First/Last-Rows-of-Dataset-2.0.1"><span class="toc-item-num">2.0.1&nbsp;&nbsp;</span>Show the First/Last Rows of Dataset</a></span></li><li><span><a href="#Drop-Unnecessary-Pandas-Column" data-toc-modified-id="Drop-Unnecessary-Pandas-Column-2.0.2"><span class="toc-item-num">2.0.2&nbsp;&nbsp;</span>Drop Unnecessary Pandas Column</a></span></li><li><span><a href="#Compute-a-New-Pandas-Series-and-Attach-to-Dataframe-as-Column" data-toc-modified-id="Compute-a-New-Pandas-Series-and-Attach-to-Dataframe-as-Column-2.0.3"><span class="toc-item-num">2.0.3&nbsp;&nbsp;</span>Compute a New Pandas Series and Attach to Dataframe as Column</a></span></li><li><span><a href="#Count-Number-of-Rows-in-Dataframe-Meet-Some-Criteria" data-toc-modified-id="Count-Number-of-Rows-in-Dataframe-Meet-Some-Criteria-2.0.4"><span class="toc-item-num">2.0.4&nbsp;&nbsp;</span>Count Number of Rows in Dataframe Meet Some Criteria</a></span></li><li><span><a href="#Filter-DataFrame-for-a-Subset-of-Rows" data-toc-modified-id="Filter-DataFrame-for-a-Subset-of-Rows-2.0.5"><span class="toc-item-num">2.0.5&nbsp;&nbsp;</span>Filter DataFrame for a Subset of Rows</a></span></li></ul></li><li><span><a href="#Difference-Between-extractall-and-findall" data-toc-modified-id="Difference-Between-extractall-and-findall-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Difference Between <code>extractall</code> and <code>findall</code></a></span></li></ul></li><li><span><a href="#Regex-Character-Classes" data-toc-modified-id="Regex-Character-Classes-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Regex Character Classes</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Find-all-Tweets-That-Start-with-a-Number" data-toc-modified-id="Find-all-Tweets-That-Start-with-a-Number-3.0.1"><span class="toc-item-num">3.0.1&nbsp;&nbsp;</span>Find all Tweets That Start with a Number</a></span></li><li><span><a href="#Find-all-@-Mentions" data-toc-modified-id="Find-all-@-Mentions-3.0.2"><span class="toc-item-num">3.0.2&nbsp;&nbsp;</span>Find all @ Mentions</a></span><ul class="toc-item"><li><span><a href="#Alternative-Method-to-Work-With-Lists-in-Pandas" data-toc-modified-id="Alternative-Method-to-Work-With-Lists-in-Pandas-3.0.2.1"><span class="toc-item-num">3.0.2.1&nbsp;&nbsp;</span>Alternative Method to Work With Lists in Pandas</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Quantifiers" data-toc-modified-id="Quantifiers-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Quantifiers</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Match-All-Phone-Numbers-(Link)" data-toc-modified-id="Match-All-Phone-Numbers-(Link)-4.0.1"><span class="toc-item-num">4.0.1&nbsp;&nbsp;</span>Match All Phone Numbers (<a href="https://regexr.com/50v17" target="_blank">Link</a>)</a></span></li><li><span><a href="#Parse-Out-Zip-Codes-(Link)" data-toc-modified-id="Parse-Out-Zip-Codes-(Link)-4.0.2"><span class="toc-item-num">4.0.2&nbsp;&nbsp;</span>Parse Out Zip Codes (<a href="https://regexr.com/50v1g" target="_blank">Link</a>)</a></span></li></ul></li></ul></li><li><span><a href="#Capture-Groups" data-toc-modified-id="Capture-Groups-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Capture Groups</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Example:-Parsing-out-Weekday-from-Timestamp-String-(Link)" data-toc-modified-id="Example:-Parsing-out-Weekday-from-Timestamp-String-(Link)-5.0.1"><span class="toc-item-num">5.0.1&nbsp;&nbsp;</span>Example: Parsing out Weekday from Timestamp String (<a href="https://regexr.com/50v0l" target="_blank">Link</a>)</a></span></li><li><span><a href="#Example:-Parsing-Out-Domain-Names" data-toc-modified-id="Example:-Parsing-Out-Domain-Names-5.0.2"><span class="toc-item-num">5.0.2&nbsp;&nbsp;</span>Example: Parsing Out Domain Names</a></span></li></ul></li><li><span><a href="#Non-Capture-Groups" data-toc-modified-id="Non-Capture-Groups-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Non-Capture Groups</a></span><ul class="toc-item"><li><span><a href="#Example-1-(Link)" data-toc-modified-id="Example-1-(Link)-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>Example 1 <a href="https://regexr.com/50t7c" target="_blank">(Link)</a></a></span></li><li><span><a href="#Example-2-(Link)" data-toc-modified-id="Example-2-(Link)-5.1.2"><span class="toc-item-num">5.1.2&nbsp;&nbsp;</span>Example 2 <a href="https://regexr.com/50t7c" target="_blank">(Link)</a></a></span></li><li><span><a href="#Example-3-(Link)" data-toc-modified-id="Example-3-(Link)-5.1.3"><span class="toc-item-num">5.1.3&nbsp;&nbsp;</span>Example 3 (<a href="https://regexr.com/50ush" target="_blank">Link</a>)</a></span></li></ul></li></ul></li><li><span><a href="#Named-Capture-Groups" data-toc-modified-id="Named-Capture-Groups-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Named Capture Groups</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Using-Named-Capture-Groups-in-Pandas-for-Feature-Engineering" data-toc-modified-id="Using-Named-Capture-Groups-in-Pandas-for-Feature-Engineering-6.0.1"><span class="toc-item-num">6.0.1&nbsp;&nbsp;</span>Using Named Capture Groups in Pandas for Feature Engineering</a></span></li></ul></li></ul></li><li><span><a href="#Finding-Repeat-Words-in-Reviews-Using-Backreferences" data-toc-modified-id="Finding-Repeat-Words-in-Reviews-Using-Backreferences-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Finding Repeat Words in Reviews Using Backreferences</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Using-Named-Backreferences" data-toc-modified-id="Using-Named-Backreferences-7.0.1"><span class="toc-item-num">7.0.1&nbsp;&nbsp;</span>Using Named Backreferences</a></span></li><li><span><a href="#Using-Negative-Lookaheads" data-toc-modified-id="Using-Negative-Lookaheads-7.0.2"><span class="toc-item-num">7.0.2&nbsp;&nbsp;</span>Using Negative Lookaheads</a></span></li><li><span><a href="#Negative-Lookbehind" data-toc-modified-id="Negative-Lookbehind-7.0.3"><span class="toc-item-num">7.0.3&nbsp;&nbsp;</span>Negative Lookbehind</a></span><ul class="toc-item"><li><span><a href="#Find-all-tweets-that-do-not-begin-with-a-hashtag-or-a-mention." data-toc-modified-id="Find-all-tweets-that-do-not-begin-with-a-hashtag-or-a-mention.-7.0.3.1"><span class="toc-item-num">7.0.3.1&nbsp;&nbsp;</span>Find all tweets that do not begin with a hashtag or a mention.</a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Exercises" data-toc-modified-id="Exercises-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Exercises</a></span><ul class="toc-item"><li><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Use-named-capture-groups-to-find-the-subject-headings-for-these-emails." data-toc-modified-id="Use-named-capture-groups-to-find-the-subject-headings-for-these-emails.-8.0.0.1"><span class="toc-item-num">8.0.0.1&nbsp;&nbsp;</span>Use named capture groups to find the subject headings for these emails.</a></span></li><li><span><a href="#Find-all-hashtags-or-references-mentioned-in-the-tweets_df-dataset.-Store-them-as-two-separate-columns,-one-for-whether-it-is-either-a-@-or-#,-and-the-other-for-the-actual-content-(ie.-the-hello-part-of-#hello)." data-toc-modified-id="Find-all-hashtags-or-references-mentioned-in-the-tweets_df-dataset.-Store-them-as-two-separate-columns,-one-for-whether-it-is-either-a-@-or-#,-and-the-other-for-the-actual-content-(ie.-the-hello-part-of-#hello).-8.0.0.2"><span class="toc-item-num">8.0.0.2&nbsp;&nbsp;</span>Find all hashtags or references mentioned in the <code>tweets_df</code> dataset. Store them as two separate columns, one for whether it is either a <code>@</code> or <code>#</code>, and the other for the actual content (ie. the <code>hello</code> part of <code>#hello</code>).</a></span></li><li><span><a href="#Use-named-capture-groups-to-provide-a-list-of-email-addresses-for-your-security-administrator-to-blacklist-from-your-company's-email-servers.-The-output-should-be-a-list-of-dictionaries:" data-toc-modified-id="Use-named-capture-groups-to-provide-a-list-of-email-addresses-for-your-security-administrator-to-blacklist-from-your-company's-email-servers.-The-output-should-be-a-list-of-dictionaries:-8.0.0.3"><span class="toc-item-num">8.0.0.3&nbsp;&nbsp;</span>Use named capture groups to provide a <strong>list of email addresses</strong> for your security administrator to blacklist from your company's email servers. The output should be a list of dictionaries:</a></span></li><li><span><a href="#Use-a-negative-lookahead-to-capture-all-emails-except-for-the-ones-from-yahoo.com." data-toc-modified-id="Use-a-negative-lookahead-to-capture-all-emails-except-for-the-ones-from-yahoo.com.-8.0.0.4"><span class="toc-item-num">8.0.0.4&nbsp;&nbsp;</span>Use a negative lookahead to capture all emails except for the ones from <code>yahoo.com</code>.</a></span></li><li><span><a href="#Identify-any-IP-addresses-that-should-be-blacklisted" data-toc-modified-id="Identify-any-IP-addresses-that-should-be-blacklisted-8.0.0.5"><span class="toc-item-num">8.0.0.5&nbsp;&nbsp;</span>Identify any IP addresses that should be blacklisted</a></span></li><li><span><a href="#The-word-&quot;AT&amp;T&quot;-is-not-spelled-correctly-in-the-tweets_df-dataset.-Correct-the-misspelling." data-toc-modified-id="The-word-&quot;AT&amp;T&quot;-is-not-spelled-correctly-in-the-tweets_df-dataset.-Correct-the-misspelling.-8.0.0.6"><span class="toc-item-num">8.0.0.6&nbsp;&nbsp;</span>The word "AT&amp;T" is not spelled correctly in the <code>tweets_df</code> dataset. Correct the misspelling.</a></span></li></ul></li></ul></li></ul></li></ul></div>

# Import Dependencies and Load in Dataset

In [7]:
import pandas as pd
tweets_df: pd.DataFrame = pd.read_csv("tweets_pandas.csv")

# Pandas Exploratory Data Analysis

### Show the First/Last Rows of Dataset

In [8]:
tweets_df.head()

,likes,index,date,topic,handle,tweet
0,4,3,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,@stellargirl I loooooooovvvvvveee my Kindle2. ...
1,4,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs i...
2,4,5,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fuck..."
3,4,6,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...
4,4,7,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...

In [9]:
tweets_df.tail()

,likes,index,date,topic,handle,tweet
493,2,14072,Sun Jun 14 04:31:43 UTC 2009,latex,proggit,Ask Programming: LaTeX or InDesign?: submitted...
494,0,14073,Sun Jun 14 04:32:17 UTC 2009,latex,sam33r,"On that note, I hate Word. I hate Pages. I hat..."
495,4,14074,Sun Jun 14 04:36:34 UTC 2009,latex,iamtheonlyjosie,Ahhh... back in a *real* text editing environm...
496,0,14075,Sun Jun 14 21:36:07 UTC 2009,iran,plutopup7,"Trouble in Iran, I see. Hmm. Iran. Iran so far..."
497,0,14076,Sun Jun 14 21:36:17 UTC 2009,iran,captain_pete,Reading the tweets coming out of Iran... The w...

### Drop Unnecessary Pandas Column

In [10]:
# get rid of some columns we don't care about
tweets_df.drop(columns=["index"], inplace=True)
# preview the dataset
tweets_df.head()

,likes,date,topic,handle,tweet
0,4,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,@stellargirl I loooooooovvvvvveee my Kindle2. ...
1,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs i...
2,4,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fuck..."
3,4,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...
4,4,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...

### Compute a New Pandas Series and Attach to Dataframe as Column

In [11]:
# get length of tweets in characters
tweets_df["tweet_length"] = tweets_df["tweet"].str.len()
tweets_df.head()

,likes,date,topic,handle,tweet,tweet_length
0,4,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,@stellargirl I loooooooovvvvvveee my Kindle2. ...,111
1,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs i...,58
2,4,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fuck...",58
3,4,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...,140
4,4,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...,75

### Count Number of Rows in Dataframe Meet Some Criteria

In [12]:
# count number of times Obama appears in tweets
tweets_df["tweet"].str.contains(r'\bObama\b').sum()

16

### Filter DataFrame for a Subset of Rows

In [13]:
# filter dataframe for only tweets that contain 
tweets_df[tweets_df["tweet"].str.contains(r'\bObama\b')].head()

,likes,date,topic,handle,tweet,tweet_length
9,4,Mon May 11 03:29:20 UTC 2009,obama,mandanicole,how can you not love Obama? he makes jokes abo...,57
10,2,Mon May 11 03:32:42 UTC 2009,obama,jpeb,Check this video out -- President Obama at the...,101
11,0,Mon May 11 03:32:48 UTC 2009,obama,kylesellers,@Karoli I firmly believe that Obama/Pelosi hav...,140
12,4,Mon May 11 03:33:38 UTC 2009,obama,theviewfans,House Correspondents dinner was last night who...,106
48,0,Sun May 17 17:32:00 UTC 2009,aig,KennyTRoland,?Obama Administration Must Stop Bonuses to AIG...,85

## Difference Between `extractall` and `findall`

The `extractall` method will return a fanned-out multi-dimensional index. For example, in the example below, the primary index is `0`, but there are sub-indices for `stellargirl` (`0`), `loooooooovvvvvveee` (`1`), etc.

In [14]:
tweets_df["tweet"].str.extractall(r'\b(\w{3,})\b').head(5)

                          0
  match
0 0             stellargirl
  1      loooooooovvvvvveee
  2                 Kindle2
  3                     Not
  4                    that

The `findall` method will return a list of results (or an empty list if there is no match).

In [15]:
tweets_df["tweet"].str.findall(r'\b(\w{3,})\b').head(3)

0    [stellargirl, loooooooovvvvvveee, Kindle2, Not...
1    [Reading, kindle2, Love, Lee, childs, good, read]
2     [first, assesment, the, kindle2, fucking, rocks]
Name: tweet, dtype: object

# Regex Character Classes

There are often shortcut keywords you can use instead of typing out every possible character you want to match against. For instance, instead of `[a-zA-Z0-9]`, for all practical purposes, you can type out `/w`.

![Character Classes](images/character_chars.png "Regex character classes")

### Find all Tweets That Start with a Number

* [Non-Match Example](https://regexr.com/50ur7)
* [Match Example](https://regexr.com/50urj)

In [16]:
tweets_df[tweets_df["tweet"].str.contains(r'^[0-9]')]

,likes,date,topic,handle,tweet,tweet_length
242,2,Mon May 11 03:27:58 UTC 2009,twitter,delpop,45 Pros You Should Be Following on Twitter - h...,62
430,2,Tue Jun 02 06:53:45 UTC 2009,eating,Fitness_101,10 tips for healthy eating ? ResultsBy Fitness...,86
482,0,Sun Jun 14 04:36:07 UTC 2009,latex,QuadError,"7 hours. 7 hours of inkscape crashing, normall...",140

### Find all @ Mentions
We'll use the `\w` character class to match for mentions (ie. `@ychennay`).

In [17]:
tweets_df["mentions"] = tweets_df["tweet"].str.findall(r'@\w+')
tweets_df[tweets_df["mentions"].apply(len).gt(0)] # gt is the same as >

,likes,date,topic,handle,tweet,tweet_length,mentions
0,4,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,@stellargirl I loooooooovvvvvveee my Kindle2. ...,111,[@stellargirl]
3,4,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...,140,[@kenburbary]
4,4,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...,75,[@mikefish]
5,4,Mon May 11 03:22:00 UTC 2009,kindle2,GeorgeVHulme,@richardebaker no. it is too big. I'm quite ha...,67,[@richardebaker]
11,0,Mon May 11 03:32:48 UTC 2009,obama,kylesellers,@Karoli I firmly believe that Obama/Pelosi hav...,140,[@Karoli]
...,...,...,...,...,...,...,...
474,0,Wed Jun 10 15:32:06 UTC 2009,visa card,_abi_,"dearest @google, you rich bastards! the VISA c...",107,[@google]
481,0,Sun Jun 14 04:35:53 UTC 2009,latex,LoonyLongbottom,@Iheartseverus we love you too and don't want ...,81,[@Iheartseverus]
485,0,Sun Jun 14 21:36:09 UTC 2009,iran,jamespenycate,Monday already. Iran may implode. Kitchen is a...,140,"[@annagoss, @sebulous, @goldpanda]"
489,4,Sat Jun 13 16:24:15 UTC 2009,Bobby Flay,A_TALL_BLONDE,i lam so in love with Bobby Flay... he is my f...,136,"[@terrysimpson, @bflay]"
490,0,Sun Jun 14 04:31:12 UTC 2009,latex,rooney_tunes,I just created my first LaTeX file from scratc...,128,[@amandabittner]

#### Alternative Method to Work With Lists in Pandas

In [18]:
# Convert the mentions column to boolean. Because an empty list is False, and a non-empty list is True, this filters
# out all non-empty lists.
tweets_df[tweets_df["mentions"].astype(bool)]

,likes,date,topic,handle,tweet,tweet_length,mentions
0,4,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,@stellargirl I loooooooovvvvvveee my Kindle2. ...,111,[@stellargirl]
3,4,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...,140,[@kenburbary]
4,4,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...,75,[@mikefish]
5,4,Mon May 11 03:22:00 UTC 2009,kindle2,GeorgeVHulme,@richardebaker no. it is too big. I'm quite ha...,67,[@richardebaker]
11,0,Mon May 11 03:32:48 UTC 2009,obama,kylesellers,@Karoli I firmly believe that Obama/Pelosi hav...,140,[@Karoli]
...,...,...,...,...,...,...,...
474,0,Wed Jun 10 15:32:06 UTC 2009,visa card,_abi_,"dearest @google, you rich bastards! the VISA c...",107,[@google]
481,0,Sun Jun 14 04:35:53 UTC 2009,latex,LoonyLongbottom,@Iheartseverus we love you too and don't want ...,81,[@Iheartseverus]
485,0,Sun Jun 14 21:36:09 UTC 2009,iran,jamespenycate,Monday already. Iran may implode. Kitchen is a...,140,"[@annagoss, @sebulous, @goldpanda]"
489,4,Sat Jun 13 16:24:15 UTC 2009,Bobby Flay,A_TALL_BLONDE,i lam so in love with Bobby Flay... he is my f...,136,"[@terrysimpson, @bflay]"
490,0,Sun Jun 14 04:31:12 UTC 2009,latex,rooney_tunes,I just created my first LaTeX file from scratc...,128,[@amandabittner]

# Quantifiers

Quantifiers let you specify how many times a character or group should be matched.
![Quantifiers](images/quantifiers.png "Regex character classes")

### Match All Phone Numbers ([Link](https://regexr.com/50v17))
In the unwanted callers dataset (`unwanted_calls.csv`), parse out all phone numbers.

We'll only consider for the time being phone numbers that follow the format `123-456-7890`.

In [19]:
import pandas as pd
unwanted_calls_df: pd.DataFrame = pd.read_csv("unwanted_calls.csv")
unwanted_calls_df["caller_id_number"].str.findall(r'\d{3}-\d{3}-\d{4}').head(3)

0    [866-410-0458]
1    [619-840-7262]
2    [626-691-9090]
Name: caller_id_number, dtype: object

### Parse Out Zip Codes ([Link](https://regexr.com/50v1g))
In the `location_center_point_of_the_zip_code` field, we store both zip codes as well as geolocation data (latitudes and longitudes). We'll only consider zip codes with 5 digits (not the +4 digit delivery route).

In [20]:
unwanted_calls_df["location_center_point_of_the_zip_code"].str.findall(r'\s\d{5}\n').head(3)

0    [ 33324\n]
1    [ 92078\n]
2    [ 07481\n]
Name: location_center_point_of_the_zip_code, dtype: object

# Capture Groups

[Oracle documentation on Capture Groups:](https://docs.oracle.com/javase/tutorial/essential/regex/groups.html)
> Capturing groups are a way to treat **multiple characters as a single unit**. They are created by placing the characters to be grouped inside a set of parentheses. For example, the regular expression `(dog)` creates a single group containing the letters `d`, `o`, and `g`.

### Example: Parsing out Weekday from Timestamp String ([Link](https://regexr.com/50v0l))

In the `date` field of `tweets_df`, we have timestamp strings that look like this: `Mon May 11 03:22:30 UTC 2009`. We want to parse out the weekday from this string.

In [21]:
tweets_df["day_of_week"] = tweets_df["date"].str.extract(r'^(\w{3})\b')
tweets_df.sample(len(tweets_df)).head(3)

,likes,date,topic,handle,tweet,tweet_length,mentions,day_of_week
175,2,Tue Jun 02 04:39:49 UTC 2009,safeway,neeeelia,waiting in line at safeway.,27,[],Tue
440,0,Sun Jun 07 01:12:38 UTC 2009,jquery,TobyJuanKenobi,argghhhh why won't my jquery appear in safari...,61,[],Sun
32,4,Sat May 16 16:19:04 UTC 2009,google,J_Holl,@phyreman9 Google is always a good place to lo...,114,"[@phyreman9, @KimbleT]",Sat

### Example: Parsing Out Domain Names
We want to capture the domain names of different websites. Here, we need to escape the `.` part of `www.google.com`. In regex, `.` means "anything". To actually indicate we want to match for the literal `.` period character, we need to escape it, using `\.`.

In [22]:
websites = open("list_of_websites.txt").readlines()

In [25]:
cleaned_websites = list(map(lambda website: re.sub(r'\n', '', website), websites))
regex = r'https?:\/\/www\.(\w+)\.\w+'
domain_names = pd.Series(cleaned_websites).str.extract(regex)

## Non-Capture Groups

Sometimes you want to group multiple characters into a single unit to apply regex operations on them, but you don't
want to actually capture or return their result.

### Example 1 [(Link)](https://regexr.com/50t7c)
Using non-capture groups to match for optional text:

You want to capture both `child` and `children` in your text:

In [3]:
import re
text = "The word child is singular, but the word children is plural."
re.findall(r'\bchild(?:ren)?\b', text)

['child', 'children']

### Example 2 [(Link)](https://regexr.com/50t7c)
Find all the mentions in the tweets. Mentions start with `@`.

In [4]:
tweets_df["tweet"].str.findall(r'(@\w+)')

NameError: name 'tweets_df' is not defined

### Example 3 ([Link](https://regexr.com/50ush))
Here we want to match for the dollar amount, but we don't want to include the currency notation (`$` or `USD`).

In [2]:
regex_pattern = "(?:\$|(?:USD))([0-9]+)\.([0-9][0-9])"
text = "Average fast food wage is $9.08, but inflation has increased USD9.23"
results = re.findall(regex_pattern, text)

NameError: name 're' is not defined

# Named Capture Groups

Often, we might have a hard time keeping track of all the capture groups in our regex. We can use **named capture groups** instead.

In [5]:
import re
file = open("mcdonalds-yelp-negative-reviews.csv", encoding="latin1")
reviews = file.read()

regex_pattern = r'1?\d:[0-5]\d\s?(am|pm)'

re.findall(regex_pattern, reviews)[:5] # what's wrong with this expression?

['pm', 'pm', 'pm', 'am', 'am']

In [7]:
regex_pattern = r'1?\d:[0-5]\d\s?(?:am|pm)'
re.findall(regex_pattern, reviews)[:5] # this looks much better

['9:30pm', '7:30 pm', '1:45 pm', '5:48 am', '6:30am']

In [8]:
# now, we want to capture the hour, minute, and time of day indicator
regex_pattern = r'(?P<hour>1?\d):(?P<minute>[0-5]\d)\s?(?P<indicator>:am|pm)'
file.seek(0) # reset the index position
reviews = file.readlines()
for review in reviews:
    match = re.search(regex_pattern, review) # this looks much better
    if match:
        print(match.groupdict())

{'hour': '9', 'minute': '30', 'indicator': 'pm'}
{'hour': '7', 'minute': '30', 'indicator': 'pm'}
{'hour': '1', 'minute': '45', 'indicator': 'pm'}
{'hour': '2', 'minute': '00', 'indicator': 'pm'}
{'hour': '11', 'minute': '30', 'indicator': 'pm'}
{'hour': '1', 'minute': '30', 'indicator': 'pm'}
{'hour': '9', 'minute': '30', 'indicator': 'pm'}
{'hour': '1', 'minute': '11', 'indicator': 'pm'}
{'hour': '9', 'minute': '00', 'indicator': 'pm'}
{'hour': '7', 'minute': '10', 'indicator': 'pm'}
{'hour': '10', 'minute': '14', 'indicator': 'pm'}
{'hour': '7', 'minute': '30', 'indicator': 'pm'}
{'hour': '1', 'minute': '45', 'indicator': 'pm'}
{'hour': '7', 'minute': '41', 'indicator': 'pm'}

### Using Named Capture Groups in Pandas for Feature Engineering

In [9]:
import pandas as pd
reviews_df = pd.read_csv("mcdonalds-yelp-negative-reviews.csv", encoding="latin1")

In [10]:
reviews_df["review"].str.extract(r'(?P<hour>1?\d):(?P<minute>[0-5]\d)\s?(?P<indicator>:am|pm)')

     hour minute indicator
0     NaN    NaN       NaN
1       9     30        pm
2     NaN    NaN       NaN
3     NaN    NaN       NaN
4     NaN    NaN       NaN
...   ...    ...       ...
1520  NaN    NaN       NaN
1521  NaN    NaN       NaN
1522  NaN    NaN       NaN
1523  NaN    NaN       NaN
1524  NaN    NaN       NaN

[1525 rows x 3 columns]

# Finding Repeat Words in Reviews Using Backreferences
You can refer to capture groups earlier in your expression using **backreferences**. For instance, `\1` means the first capture group in your expression.

In [ ]:
regex_pattern = r'(\b\w*burgers?\b).+\b\1\b'
file.seek(0)
reviews = file.readlines()

for review in reviews:
    match = re.search(regex_pattern, review)
    if match:
        print(review)

### Using Named Backreferences

If you named a group `BURGER`, you can reference it later with `(?P=BURGER)`.

In [ ]:
regex_pattern = r'(?P<BURGER>\b\w*burgers?\b).+\b(?P=BURGER)\b'
file.seek(0)
reviews = file.readlines()

for review in reviews:
    match = re.search(regex_pattern, review)
    if match:
        print(review)

### Using Negative Lookaheads

Whenever you are thinking *I need to match this expression, but only when the piece of text doesn't say X*, you can use **negative lookaheads**.

For instance, to match only the timestamps in McDonalds reviews that happen before **12pm**:

In [28]:
regex_pattern = r'(1?\d):([0-5]\d)\s?(?!pm)'
file.seek(0)
reviews = file.readlines()
for review in reviews[:100]:
    match = re.search(regex_pattern, review)
    if match:
        print(match.groups())

('12', '54')
('4', '30')
('7', '30')
('7', '30')
('1', '45')
('5', '48')
('6', '30')

If we still want to capture the time of day indicator:

In [29]:
regex_pattern = r'(1?\d):([0-5]\d)\s?(?!pm)(\w{2})'
file.seek(0)
reviews = file.readlines()
for review in reviews[:100]:
    match = re.search(regex_pattern, review)
    if match:
        print(match.groups())

('5', '00', 'AM')
('7', '30', 'so')
('5', '48', 'am')
('6', '30', 'am')

### Negative Lookbehind
#### Find all tweets that do not begin with a hashtag or a mention.

In [ ]:
regex_pattern = r'^(?<!@)([\w\s\.:]+)'
tweets_df["extracted"] = tweets_df["tweet"].str.extract(regex_pattern)
tweets_df[["tweet", "extracted"]]

# Exercises

You'll be using the the `tweets_df` Pandas dataframe and `fraudulent_emails.txt` text files for these examples.

In [ ]:
email_text = open("fraudulent_emails.txt").read()

#### Use named capture groups to find the subject headings for these emails.
**Hint**: Look for the subject line within the email.

In [ ]:
# Find the subject headings for these emails.
email_text = open("fraudulent_emails.txt").read()
re.findall(r'Subject:\s(.+)', email_text)

#### Find all hashtags or references mentioned in the `tweets_df` dataset. Store them as two separate columns, one for whether it is either a `@` or `#`, and the other for the actual content (ie. the `hello` part of `#hello`).

In [ ]:
# Find all hashtags mentioned in the tweets dataset. Store it as a separate column called hashtags.
# The \B is "not a word boundary", and it matches because the # (and the @ in the previous example) is not 
# considered part of a word. Therefore, you need to opposite of a word boundary (a non-word boundary) to match
# the case where it begins with a non-word character.

# This will correctly NOT match text like she#he, sometext#someothertext
tweets_df["tweet"].str.findall(r'\B(#\w+)\b')

#### Use named capture groups to provide a **list of email addresses** for your security administrator to blacklist from your company's email servers. The output should be a list of dictionaries:

```python
[
 {
     "username": "yuchen",
     "domain": "gmail.com
 },
    # ...
]
```

* Not all emails are malicious! Provide only the list of email addresses from where the email originates from. **Hint**: identify the pattern in the emails that tells you the source of the email.

In [ ]:
regex_pattern = r'Return-Path: \<(\w+@\w+\.\w{2,6})\>'
set(re.findall(regex_pattern, email_text)) # this matches only basic emails (myemail@gmail.com)

regex_pattern = r'Return-Path: \<(\w+@\w+\.[\w+\.]{1,})\>'
set(re.findall(regex_pattern,email_text)) # this matches more complicated emails with multiple domain names)

#### Use a negative lookahead to capture all emails except for the ones from `yahoo.com`.

#### Identify any IP addresses that should be blacklisted

An IPv4 address goes from **1.1.1.1 to 255.255.255.255**. For now, just worry about the number of digits, not whether the value in the address is above `255`.

In [ ]:
import re
re.findall(r'[1-2]?[0-9]{1,2}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}', email_text)

#### The word "AT&T" is not spelled correctly in the `tweets_df` dataset. Correct the misspelling.

In [37]:
tweets_df

,likes,index,date,topic,handle,tweet
0,4,3,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,@stellargirl I loooooooovvvvvveee my Kindle2. ...
1,4,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs i...
2,4,5,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fuck..."
3,4,6,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...
4,4,7,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...
...,...,...,...,...,...,...
493,2,14072,Sun Jun 14 04:31:43 UTC 2009,latex,proggit,Ask Programming: LaTeX or InDesign?: submitted...
494,0,14073,Sun Jun 14 04:32:17 UTC 2009,latex,sam33r,"On that note, I hate Word. I hate Pages. I hat..."
495,4,14074,Sun Jun 14 04:36:34 UTC 2009,latex,iamtheonlyjosie,Ahhh... back in a *real* text editing environm...
496,0,14075,Sun Jun 14 21:36:07 UTC 2009,iran,plutopup7,"Trouble in Iran, I see. Hmm. Iran. Iran so far..."
497,0,14076,Sun Jun 14 21:36:17 UTC 2009,iran,captain_pete,Reading the tweets coming out of Iran... The w...

In [ ]:
tweets_df = tweets_df["tweet"].str.replace(r'AT&amp;', 'AT&')